{% extends 'base.html' %}
{%block title%} 登陆 {% endblock %}

{%block content%}
<h1 class="ui attached header">获取访问权限</h1>
<div class="ui segment">
<div class='ui two column middle aligned relaxed fitted stackable grid'>
  <div class='center aligned row'>
    <div class='column'>
      <h2 class='ui header'>登陆</h2>
      <a class="ui orange button" href={% url 'gitlab_login'%}>使用GitLab账号登陆</a>
    </div>
    <div class="ui vertical divider">Or</div>
    <div class='column'>
      <h2 class='ui header'>注册</h2>
      <p>请发送邮件至<a href="maleto: bixichao@berrygenomics.com">管理员</a>获取访问权限</p>
    </div>
  </div>
</div>
</div>
{%endblock%}
