{% extends 'base.html' %}

{% block title %}Embed genoverse{% endblock %}

{% block content %}
<div class="ui genoverse container">
  <div class="ui head"><h1>Genoverse - interactive HTML5 genome browser</h1></div>
  <div class="wrap">
    <div id="genoverse"></div>
  </div>
  <div class="info">
    <p>Genoverse is a portable, customizable, back-end independent JavaScript and HTML5 based genome browser which allows the user to explore data interactively.</p>
    <p>Data is visualized in the browser, meaning Genoverse can be installed on any website and show data from a wide range of online or local sources.</p>
    <p>Genoverse works with a variety of formats, such as XML, JSON, GFF, GFF3, BED (try drag-n-drop one), and can be customized to parse and display any data source as required.</p>
    <p>For more information on how to use Genoverse please refer to <a href="/static/vendor/genoverse/help.pdf" target="_blank">this tutorial</a>.</p>
  </div>
</div>

<script>
  $('genoverse').empty()
  $(document).ready(function () {
    config = $.extend({
      container : '#genoverse',
      width     : $('.ui.genoverse.container').width(),
      genome    : 'grch37',
      cnv       : {chr: 11, start: 65440001, end: 65720000, type: 'Mosaic', copy: 1.05, log2: -0.01, result : 'test', description : 'description test', gainloss: "loss"},
      flowcell  : 'ABCDEFG',
      sample    : {name:'16XBhV005'},
      chr       : 11,
      start     : 65440001,
      end       : 65720000,
      plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'focusRegion', 'fullscreen', 'tooltips', 'fileDrop' ],
      tracks    : [
        Genoverse.Track.Scaleline,
        Genoverse.Track.Scalebar,
        Genoverse.Track.Chromosome,
        Genoverse.Track.CNV,
        Genoverse.Track.DGV,
        Genoverse.Track.RefGene,
        Genoverse.Track.OMIMGenemap,
        Genoverse.Track.OMIMMorbidmap,
        Genoverse.Track.DecipherCNV,
        Genoverse.Track.ClinVar,
        Genoverse.Track.GeneReview,

      ]
    })
    new Genoverse(config)
  });
</script>

{% endblock %}
