{% extends 'base.html' %}
{% block header %}
<script src='/static/vendor/xromate/nav.js' ></script>
<script src='/static/vendor/xromate/layout/default.js' ></script>
{% endblock %}

<!--{% block rightmenuadd %}
<div class='ui search item focus'>
  <div class='ui inverted transparent left icon input'>
    <i class='search icon'></i>
    <input type='text' placeholder='Search...' class='prompt' autocomplete='off'>
  </div>
  <div class='results'></div>
</div>
<div class='ui dropdown item'>
  <a>Projects</a>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <a class='item'>CNV</a>
    <a class='item'>PGS</a>
    <a class='item'>MCC</a>
  </div>
</div>
<div class='ui dropdown item'>
  <a>Statistics</a>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <a class='item'>Samples</a>
    <a class='item'>CNVs</a>
    <a class='item'>CNVs Search</a>
  </div>
</div>
{% endblock %}-->


{% block title %}Xromate{% endblock %}

{% block content %}
通过javascript改变原始模板的构造，完成menu的切换
{% endblock %}
