<!DOCTYPE html>
{% load xromate%}
<html>
  <head>
        <title>mysite - {% block title %}默认标题{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
        <script type="text/javascript" src="/static/vendor/genoverse/js/genoverse.combined.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/vendor/semantic/semantic.min.css">
        <script src="/static/vendor/semantic/semantic.min.js"></script>
        {% block header%} {% endblock %}
  </head>
  <body {% body_data_generation %}>
    {% block nav %}{% include 'nav.html' %}{% endblock %}
    
    <div class="ui container" style="margin: 60px 0px 60px 0px"> 
      {% block content %}
      <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
      {% endblock %}
    </div>

    {% block bottom %}{% include 'bottom.html' %}{% endblock %}
  </body>
</html>
