{% extends 'base.html' %}
 
{% block title %}学习annodb{% endblock %}
 
{% block content %}
<div class="ui accordion">
  <h1 class="ui header title">
    <i class="dropdown icon"></i>
    学习annodb
  </h1>
  <div class="content">
    <p>完成注释数据库的构建。可以把xromate分析系统中的所有数据都学习一边。有DGV, OMIM, Decipher, ClinVar, GeneReviews, UCSC, Pubmed等等</p>
  </div>
  <div class="ui inverted divider"></div>
  <h1 class="ui header title">
    <i class="dropdown icon"></i>
    学习任务
  </h1>
  <div class="content">
    <div class="ui ordered list">
      <a class="item">确定用annodb app来实现注释数据库</a>
      <div class="item">
        <a class="item">添加注释数据库</a>
        <div class="list">
          <a class="item">DGV添加成功:用annodbase->dgv->import命令</a>
          <div class="item">
            <a class="item">OMIM添加</a>
            <div class="list">
              <a class="item">OMIM Entry添加成功:用annodbase->omim->entry->import命令</a>
              <a class="item">OMIM GeneMap添加成功:用annodbase->omim->entry->import命令</a>
              <a class="item">OMIM Morbidmap添加成功:用annodbase->omim->morbidmap->import命令</a>
              <a class="item">完成GeneMap更新Entry; MorbidMap更新Genemap和Entry的命令</a>
              <a class="item">正在开发Berry::Mandel::Omim中的mim2gene命令</a>
              <a class="item">尝试添加OMIM Syndromes</a>
            </div>
          </div>
        </div>
      </div>
      <a class="item">Review</a>
    </div>
  </div>
</div>
<script>
  $('.ui.accordion').accordion();
</script>
{% endblock %}
